USE [master]
GO
/****** Object:  Database [LABB2 SKOLA]    Script Date: 2023-12-16 22:26:24 ******/
CREATE DATABASE [LABB2 SKOLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LABB2 SKOLA', FILENAME = N'C:\Users\Adder\LABB2 SKOLA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LABB2 SKOLA_log', FILENAME = N'C:\Users\Adder\LABB2 SKOLA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LABB2 SKOLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LABB2 SKOLA]
GO
/****** Object:  Table [dbo].[BetygTabell]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BetygTabell](
	[BetygIdPK] [int] NOT NULL,
	[StudentIdFK] [int] NULL,
	[KursIdFK] [int] NULL,
	[LärareIdFK] [int] NULL,
	[Betyg] [nvarchar](5) NULL,
	[BetygDatum] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BetygIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KlassTabell]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KlassTabell](
	[KlassIdPK] [int] NOT NULL,
	[KlassNamn] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KlassIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KursTabell]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KursTabell](
	[KursIdPK] [int] NOT NULL,
	[KursNamn] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KursIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lärare]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lärare](
	[LärareIdPK] [int] NOT NULL,
	[Lärare] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lärare] PRIMARY KEY CLUSTERED 
(
	[LärareIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalTabell]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalTabell](
	[PersonIdPK] [int] IDENTITY(1,1) NOT NULL,
	[FörNamn] [nvarchar](50) NULL,
	[EfterNamn] [nvarchar](50) NULL,
	[Personnummer] [nvarchar](20) NULL,
	[Befattning] [nvarchar](50) NULL,
	[LärareIdFK] [int] NULL,
 CONSTRAINT [PK__Personal__AA2FFB858259B802] PRIMARY KEY CLUSTERED 
(
	[PersonIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTabell]    Script Date: 2023-12-16 22:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTabell](
	[StudentIdPK] [int] NOT NULL,
	[FörNamn] [nvarchar](50) NULL,
	[EfterNamn] [nvarchar](50) NULL,
	[Personnummer] [varchar](12) NULL,
	[KlassIdFK] [int] NULL,
	[Kön] [nchar](10) NULL,
 CONSTRAINT [PK__StudentT__32C52A798EE2D681] PRIMARY KEY CLUSTERED 
(
	[StudentIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BetygTabell]  WITH CHECK ADD FOREIGN KEY([KursIdFK])
REFERENCES [dbo].[KursTabell] ([KursIdPK])
GO
ALTER TABLE [dbo].[BetygTabell]  WITH CHECK ADD  CONSTRAINT [FK__BetygTabe__Lärar__3B75D760] FOREIGN KEY([LärareIdFK])
REFERENCES [dbo].[PersonalTabell] ([PersonIdPK])
GO
ALTER TABLE [dbo].[BetygTabell] CHECK CONSTRAINT [FK__BetygTabe__Lärar__3B75D760]
GO
ALTER TABLE [dbo].[BetygTabell]  WITH CHECK ADD  CONSTRAINT [FK__BetygTabe__Stude__398D8EEE] FOREIGN KEY([StudentIdFK])
REFERENCES [dbo].[StudentTabell] ([StudentIdPK])
GO
ALTER TABLE [dbo].[BetygTabell] CHECK CONSTRAINT [FK__BetygTabe__Stude__398D8EEE]
GO
ALTER TABLE [dbo].[PersonalTabell]  WITH CHECK ADD  CONSTRAINT [FK_PersonalTabell_Lärare] FOREIGN KEY([LärareIdFK])
REFERENCES [dbo].[Lärare] ([LärareIdPK])
GO
ALTER TABLE [dbo].[PersonalTabell] CHECK CONSTRAINT [FK_PersonalTabell_Lärare]
GO
ALTER TABLE [dbo].[StudentTabell]  WITH CHECK ADD  CONSTRAINT [FK__StudentTa__Klass__34C8D9D1] FOREIGN KEY([KlassIdFK])
REFERENCES [dbo].[KlassTabell] ([KlassIdPK])
GO
ALTER TABLE [dbo].[StudentTabell] CHECK CONSTRAINT [FK__StudentTa__Klass__34C8D9D1]
GO
USE [master]
GO
